* {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

.font-xs {
  font-size: calc(10px + 0.3vmin);
  font-weight: 200;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.navbar-brand {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  padding: 2vmin 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  color: #ffffff;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.form {
  width: 60%;
}

.label {
  margin-right: 1vmin;
  min-width: 20%;
  font-size: calc(10px + 0.5vmin);
  text-align: left;
}

.flex-container-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2vmin 0;
}

.form-group {
  margin-bottom: 2vmin;
}

.card {
  color: #000000;
  width: 24rem;
  max-width: 98vw;
  margin: 1rem;
}

.card-title {
  font-size: calc(10px + 1vmin);
}

.card:hover {
  color: #e93a63;
  background-color: #000000;
  border: 0.5px #ffffff solid;
}

.btn {
  margin: 1vmin;
}

.sighting-info {
  width: 60%;
  margin: 1vmin;
}

.notes {
  margin-top: 1vmin;
  padding: 1vmin;
  width: 100%;
  min-height: 10vh;
  background-color: #00000060;
  text-align: justify;
}

.categories {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2vmin;
}

.category {
  width: 20%;
  margin: 0.5vmin 0.5vmin 0 0;
  padding: 0.1vmin 0.5vmin;
  border: 0.5px #ffffff dashed;
}

.btn-no-outline {
  text-decoration: underline 0.5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-no-outline:hover {
  color: #e93a63;
}

.comments-container {
  margin: 1vmin 0;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 0.75vmin);
  text-align: justify;
}
.comment-body {
  width: 90%;
}

.select-country {
  width: 60%;
}

.select-region {
  width: 40%;
}
